@charset "UTF-8";

body{
    margin:0px;
    padding: 0px;
}
img{
    width: 100vw;
    margin: 0px;
    margin-bottom: -4px;
    
}
::-webkit-scrollbar{
    width: 0;
    height: 0;
}

a{
    text-decoration: none;
}
 a #link {
    background-color: brown;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 10px;
    margin-top: 0px;
}

a #link:hover{
    background-color: rgb(245, 23, 23);
}